@import "base/var";
@import "base/px2rem";
.view_gift {
  background: $bg_gray;
  font-size: .5rem;
  position: relative;
  padding-bottom: px2rem(80);
}
.gift_select{
  background: white;
  border-bottom: 1px solid $line-1;
  line-height: 1.5em;
  padding-left: px2rem(20);
  width: 100%;
  color: $font_black_4c;
  p{
    background: white url('../assets/img/icon_gift.png')left center/px2rem(48) px2rem(48) no-repeat;
    color: $font_orange;
    padding: px2rem(20);
    padding-left: px2rem(60);
  }
}
.gift_address_never{
  height: px2rem(80);
  line-height: px2rem(80);
  background: white url('../assets/img/gift_point.png') px2rem(20) center/px2rem(67) px2rem(49) no-repeat;
  text-indent: px2rem(100);
  span{
    font-size: .45rem;
    color: $font_black_4c;
  }
}
.gift_address_has{
  padding: 0 px2rem(20);
  background: white;
  p{
    text-indent: px2rem(80);
    padding-top: px2rem(20);
    font-size: .5rem;
    span{
      float: right;
      padding-right: px2rem(40);
    }
  }
  .gift_address_detail{
    font-size: .45rem;
    padding: px2rem(20) 0;
    padding-left: px2rem(80);
    line-height: 1.5em;
    background: transparent url('../assets/img/gift_point.png') left center/px2rem(67) px2rem(49) no-repeat;
  }
}

.gift_giftlist {
  padding: px2rem(15) px2rem(10);
  .gift_item {
    margin: px2rem(15) px2rem(10) 0 px2rem(10);
    padding: px2rem(15);
    border: px2rem(1) solid $line-1;
    border-radius: 8px;
    img {
      width: px2rem(310);
      height: px2rem(310);
    }
    .gift_item_name {
      padding-top: px2rem(10);
      padding-bottom: px2rem(20);
    }
    .gift_item_price {
      font-size: .4rem;
      //color: $fontgray;
      span {
        float: right;
        //color: $font_red;
      }
    }
  }
}
.gift_commit{
  position: fixed;
  bottom: 0;
  font-size: .5rem;
  background: white;
  .gift_commit_info {
    height: px2rem(80);
    line-height: px2rem(80);
    text-align: center;
  }
  .gift_commit_amount{
    //color: $font_red;
  }
  .gift_commit_btn{
    background: $bg_blue;
    color: white;
  }
}
.demo1-item-selected {
  background: white url(../assets/img/icon_select.png) right bottom/px2rem(45) px2rem(45) no-repeat;
  border-color: #ff4a00;
}





