@import "base/var";
@import "base/px2rem";

.view_receipt {
  width: 100%;
  font-size: .5rem;
  .receipt_banner {
    width: px2rem(750);
    height: px2rem(220);
  }
  .receipt_cell{
    height: px2rem(80);
    line-height: px2rem(80);
    background: white;
    padding: 0 px2rem(30);
    margin-bottom: px2rem(30);
  }
  .receipt_cell_left{
    color: white;
    background: $font_orange;
    font-size: .3rem;
    border-radius: px2rem(4);
    padding: px2rem(8);
    margin-left: px2rem(20);
  }
}





