$line-1:#eeeeee;
$bg_gray:rgb(238,238,238);
$bg_gray_f2:#f2f2f2;
$font_black_4c:#4c4c4c;
$font_gray_90:#909090;
$font_gray_55:#555555;
$font_gray_88:#888888;
$font_gray_77:#777777;
$font_orange:#f19149;
$bg_blue:#3e98ee;
$bg_orange:#f19149;
